@font-face {
    font-family: "Stratos LC";
    src: url(../fonts/stratos-lcweb-regular.woff2) format("woff2"),
    url(../fonts/stratos-lcweb-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Stratos LC", -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    margin: 0;
}

svg {
    pointer-events: none;
}

.header-wrapper1 {
    background: #ffffff;
}

.logo, .links a {
    line-height: 0;
    display: flex;
}

.header-wrapper2 {
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
}

/*Логотип и кнопки*/
.header1 {
    width: 1500px;
    margin: auto;
    display: flex;
    padding: 8px;

    justify-content: space-between;
}

.header2 {
    width: 1500px;
    margin: auto;
    justify-content: center;
}

/*Второй ряд кнопок*/
.navig2 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 35%;
    display: flex;
    justify-content: space-between;
}


.links {
    display: flex;
    gap: 1px;
    align-items: center;
}

.links a {
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(45, 45, 180, .5);
    border-radius: 50%;
}

.links svg {
    fill: #2d2db4;
}

/*Кнопки вход и регистрация*/
.navig {

    text-decoration: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.register {
    color: #E33000;
    padding: 5px 20px;
    border: 1px solid #E33000;
    border-radius: 100px;
}

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

a:link {
    color: #E33000;
}

/*Стиль кнопок*/
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

/*Отступ между кнопками*/
.navig li {
    margin-left: 5px;
    margin-right: 5px;
}

.content-wrapper-color1 {

}

.content-wrapper-color-gray {
    background: #f5f5f5;
}

.content-wrapper-color-white {
    background: #ffffff;
}

.content-wrapper1 {
    width: 1500px;
    margin: auto;
}

.content-wrapper2 {
    width: 1500px;
    margin: auto;
}


main {
    margin: 0 0 auto 0;
}

/*Карусель*/

body h2 {
    font-size: 3.6rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.news {
}

.news-content {
    position: relative;
    height: 700px;
    margin: 0 auto;
    display: block;
}

.news-item {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.news-item img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.news-item-active {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.news-btn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    z-index: 5;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.news-btn.prev {
    left: 16px;
    fill: black;
}


.news-btn.next {
    right: 16px;
    fill: black;
}

.news-btn:hover {
    background-color: #afafaf;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.news-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: 20px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 5;
}

.news-dots .dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 10px;
    border-radius: 50%;
    border: solid #fff;
    display: inline-block;
    -webkit-transition: background-color, -webkit-transform 0.4s;
    transition: background-color, transform 0.4s, -webkit-transform 0.4s;
}

.news-dots .dot-active {
    background-color: #ffffff;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.news-dots .dot:hover {
    background-color: #ffffff;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*Футер--------------------------------------------*/

.footer-wrapper {

    background-color: black;
    padding: 50px 0px;
}

footer {
    width: 1500px;
    margin: auto;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    display: flex;
    color: white;
}

.footer_contact {
    text-align: start;
    font-size: 20px;
    font-weight: normal;
    width: 20%;

}

h5 {
    margin: auto;
    font-weight: normal;
    font-size: 30px;
}

.li-margin li {
    margin-bottom: 5px;
}

#map {
    width: 900px;
    height: 450px;
}

[class*=ymaps-2][class*=-ground-pane] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%)
}

/*Категории ----------------------------------------------------------------------------------*/

.content-total{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 50px;
}

.forms h1 {
    font-weight: 400;

    text-align: start;
    font-size: 2rem;
}

.genre-block{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 300px;
    height: auto;
    margin: 60px 0 0 20px;
    border: 1px solid #797979;
    border-radius: 10px;
}
.genre-block li{
    padding-left: 20px;
    margin-bottom: 5px;
}

.category-genre{

}

.category-genre input{
    margin: 0 10px 0 0;

}

.check {

    text-align: start;


}

.forms {
}

.forms label {
    font-weight: 400;
    font-size: 1.1rem;
}


#check {
    width: 60%;
    padding-top: 10px;
}

.forms {
    flex: 0.4;
}

.bodyDiv {
    text-align: start;
    flex: 1;
}


/*Второй див----------------------------------------------*/

.books {
    display: flex;
}

.one-book {
    display: flex;
}

.book-img {
    height: 150px;
    width: 300px;

}

.book-img img {
    height: 150px;
    width: 300px;
}

.book-info {
    width: 600px;

}

.input-find-book-name{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}



.input-text-book-name:not([type="checkbox"]) {
    font-size: 18px;
    width: 350%;

    padding: 10px 5px 10px 32px;
    border: 2px solid rgb(170, 170, 170);
    box-sizing: content-box;
    border-radius: 5px;
    transition: all 0.2s linear;
}


.input-text-book-name ::-webkit-input-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}
.input-text-book-name:-moz-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}

.button-find-book-name{
    margin: auto 10px auto auto;
}


.button-find-book-name input:not([type="checkbox"]) {
    cursor: pointer;
    width: 100%;
    padding: 10px 5px 10px 5px;

    border: 2px solid rgba(45,45,180 ,0.5);
    box-sizing: content-box;
    font-size: 18px;
    color: rgba(45,45,180 ,0.5);
    border-radius: 5px;
    transition: all 0.1s linear;
}

.button-find-book-name input:not([type="checkbox"]):active,
.button-find-book-name input:not([type="checkbox"]):focus {

    background: rgba(45,45,180 ,1);
    color: white;
}

/*Карточка для книг----------------------------------------------------------------*/

.books-by-category {

}

.books-by-category-item {
    box-sizing: border-box;
    min-width: 20%;
    height: 400px;
    padding: 0 20px 0 0;
}


.all3thingsAgain {

    width: 100%;
    height: 100%
}

.books-by-category-item-img-border {
    width: 200px; /*Задавай ширину картинки здесь---------------*/
    height: 65%;
}

.books-by-category-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.books-by-category-item-name {
    font-size: 30px;
    text-align: left;
    padding: 10px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.books-by-category-item-author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 20px;
    text-align: left;
    padding: 10px 0px;
}









/*Current book------------------------------------------------------------------------*/


.book-info-current-book {
    display: flex;

    background: #f5f5f5;

}

.book-img-current-book {
    width: 260px;
    height: 305px;
}

.book-img-current-book img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-info-current-book-category-name-author {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
}

.book-info-current-book-category {
    display: flex;
    gap: 20px;
}

.book-info-current-book-category label {


    background: #E1E1F4;
    border-radius: 2em;
    padding: 5px 15px;
    color: #2D2DB4;
    font-size: 20px;
}

.book-info-current-book-name {

    display: flex;
    font-weight: normal;
    align-items: start;
    font-size: 30px;

}

.book-info-current-book-name p {
    margin: 15px 0 0 0;
}

.book-info-current-book-author {
    display: flex;
    font-weight: normal;
    align-items: start;
}

.book-info-current-book-author p {
    margin: 15px 0 0 0;
}

/*Таблица*/

.book-info-current-book-characteristics-text {
    margin: 20px 0px;
}

.table-current-book {
    border-spacing: 0px;
    margin: 0;
    padding: 0;
    text-align: start;
}

.table-current-book td {
    padding-bottom: 10px;
    margin: 0;

}


.first-column {
    max-width: 200px;

}

.second-column {
    max-width: 200px;

}

.book-info-current-book-characteristics-about {
    display: flex;
}

.book-info-current-book-characteristics {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.book-info-current-book-about {
    margin-left: 150px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.book-info-current-book-about-text {
    text-align: start;
    margin: 20px 0px;
    padding: 0;
}

.book-info-current-book-about-long-text {
    text-align: start;
    margin: 0;
    padding: 0;
}

/* Похожие */

.same {
    font-size: 30px;
    font-weight: normal;
    display: flex;
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}


.slider2 {
    display: flex;
    flex-direction: row;
}

.slider-element2 {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.push-buttons {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 1500px;

    justify-content: space-between;


    z-index: 1;
}

.push-buttons button {
    cursor: pointer;
    top: 50%;
    width: 60px;
    height: 60px;
    background-color: #d5c6c6;
    border-radius: 50%;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    z-index: 1;
}

.similar-horiz {


}

.similar-horiz-item {
    box-sizing: border-box;

    min-width: 20%;
    height: 400px;
    padding: 0 20px;
}

.all3things {

    width: 100%;
    height: 100%
}

.similar-horiz-item-img-border {


    height: 65%;


}

.similar-horiz-item img {
    object-fit: cover;

    width: 100%;
    height: 100%;
}


.similar-horiz-item-name {

    font-size: 30px;
    text-align: left;
    padding: 10px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.similar-horiz-item-author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 20px;
    text-align: left;
    padding: 10px 0px;
}

/*Окно регистрации ------------------------------------------------------------------------------*/

.wrapper-reg ::-webkit-input-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}

.wrapper-reg input:-moz-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}

.wrapper-reg input {
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;

}

.register-window {
    margin: 30px auto auto auto;
    width: 350px;
}

.wrapper-reg {
    text-align: start;
}

.register-form {

    display: flex;
    flex-direction: column;

}

.register-form p {
    margin: 10px 0;
}

/**** advanced input styling ****/
/* placeholder */

/*::-webkit-input-placeholder  {
    color: rgb(190, 188, 188);
    font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: rgb(190, 188, 188);
    font-style: italic;
}
input {
  outline: none;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;

}
*/


.wrapper-reg input:not([type="checkbox"]) {
    width: 82%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(170, 170, 170);
    box-sizing: content-box;
    border-radius: 3px;
    transition: all 0.2s linear;
}

.signin-button input:not([type="checkbox"]) {
    width: 77%;
    margin-top: 4px;
    margin-left: 30px;
    padding: 10px 5px 10px 10px;
    border: 1px solid rgb(253, 149, 1);
    box-sizing: content-box;
    font-size: 20px;
    color: orange;
    border-radius: 3px;
    transition: all 0.2s linear;
}

.signin-button input:not([type="checkbox"]):active,
.signin-button input:not([type="checkbox"]):focus {
    border: 1px solid rgb(253, 149, 1);
    background: rgb(253, 149, 1);
    color: white;
}


.logo-at-window {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/* Окно входа -------------------------------------------------------------------------------*/

.login-window {
    margin: 30px auto auto auto;
    width: 350px;

}

.wrapper-log {
    text-align: start;
}

.login-form {

    display: flex;
    flex-direction: column;

}

.login-form p {
    margin: 10px 0;
}

/**** advanced input styling ****/
/* placeholder */


.wrapper-log ::-webkit-input-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}
.wrapper-log input:-moz-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}
.wrapper-log input {
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}


.wrapper-log input:not([type="checkbox"]) {
    width: 82%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(170, 170, 170);
    box-sizing: content-box;
    border-radius: 3px;
    transition: all 0.2s linear;
}

.login-button input:not([type="checkbox"]) {
    width: 77%;
    margin-top: 4px;
    margin-left: 30px;
    padding: 10px 5px 10px 10px;
    border: 1px solid rgb(253, 149, 1);
    box-sizing: content-box;
    font-size: 20px;
    color: orange;
    border-radius: 3px;
    transition: all 0.2s linear;
}

.login-button input:not([type="checkbox"]):active,
.login-button input:not([type="checkbox"]):focus {
    border: 1px solid rgb(253, 149, 1);
    background: rgb(253, 149, 1);
    color: white;
}


.logo-at-window {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}



/*User profile------------------------------------------------------------------------*/


.user-info-user-profile {
    display: flex;

    background: #f5f5f5;

}

.user-img-user-profile {
    width: 260px;
    height: 305px;
}

.user-img-user-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info-user-profile-name-edit-info {
    flex-direction: column;
    margin-top: 70px;
    margin-left: 100px;
    display: flex;
}

.user-info-user-profile-name {
    display: flex;
}

.user-info-user-profile-first-name{
    font-size: 30px;
    margin-right: 5px;
}

.user-info-user-profile-sur-name{
    font-size: 30px;
}

.user-info-user-profile-name label {
}

.user-info-user-profile-edit {
    display: flex;
    font-weight: normal;
    align-items: start;
    font-size: 30px;
}
.user-info-user-profile-edit-text{
    font-size: 15px;
    color: lightblue;
}



.user-info-user-profile-info {
 text-align: start;
}

/*Таблица*/

.table-user-profile {
    width: 400px;

    border-spacing: 0px;
    margin: 20px 0 0 0;
    padding: 0;
    text-align: start;
}

.table-user-profile td {
    padding-bottom: 10px;
    margin: 0;
}


.first-column-user-profile {
    width: 50%;

}
.second-column-user-profile {
    max-width: 200px;
}

/*Мои книги в профиле-----------------------------------------------------------------------------------*/
/* Похожие */

.mine-books-text-above {
    font-size: 30px;
    font-weight: normal;
    display: flex;
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}



.mine-books-push-buttons {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 1500px;

    justify-content: space-between;


    z-index: 1;
}

.mine-books-push-buttons button {
    cursor: pointer;
    top: 50%;
    width: 60px;
    height: 60px;
    background-color: #d5c6c6;
    border-radius: 50%;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    z-index: 1;
}

.mine-books-horiz {


}

.mine-books-horiz-item {
    box-sizing: border-box;

    min-width: 20%;
    height: 400px;
    padding: 0 20px;
}

.mine-books-all3things {

    width: 100%;
    height: 100%
}

.mine-books-horiz-item-img-border {


    height: 65%;


}

.mine-books-horiz-item img {
    object-fit: cover;

    width: 100%;
    height: 100%;
}


.mine-books-horiz-item-name {

    font-size: 30px;
    text-align: left;
    padding: 10px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mine-books-horiz-item-author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 20px;
    text-align: left;
    padding: 10px 0px;
}

/*User profile editor------------------------------------------------------------------------*/

.editor-user-info-user-profile {
    display: flex;
    background: #f5f5f5;
}

.editor-user-img-user-profile {
    width: 260px;
    height: 305px;
}

.editor-user-img-user-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editor-user-info-user-profile-name-edit-info {
    flex-direction: column;
    margin-top: 70px;
    margin-left: 100px;
    display: flex;
}

.editor-user-info-user-profile-name {
    display: flex;
}

.editor-user-info-user-profile-first-name{
    font-size: 30px;
    margin-right: 5px;
}

.editor-user-info-user-profile-sur-name{
    font-size: 30px;
}

.editor-user-info-user-profile-name label {
}

.editor-user-info-user-profile-edit {
    display: flex;
    font-weight: normal;
    align-items: start;
    font-size: 30px;
}
.editor-user-info-user-profile-edit-text{
    font-size: 15px;
    color: lightblue;
}


.editor-user-info-user-profile-info-and-password{

}

.editor-user-info-user-profile-info {
 text-align: start;
}

/*Таблица*/

.editor-table-user-profile {
    width: 500px;
    border-spacing: 0px;
    margin: 20px 0 0 0;
    padding: 0;
    text-align: start;
}

.editor-table-user-profile tr {


}

.editor-table-user-profile td {

    height: 50px;
    margin: 0;
}


.editor-first-column-user-profile {
    width: 25%;

}
.editor-second-column-user-profile {

}
.editor-second-column-user-profile p{
    margin: 0;

}


.editor-second-column-user-profile input:not([type="checkbox"]) {
    width: 87%;

    padding: 7px 5px 7px 32px;
    border: 1px solid rgb(170, 170, 170);
    box-sizing: content-box;
    border-radius: 3px;
    transition: all 0.2s linear;
}



#nameRowEdit input[type="text"]:valid {
border: 2px solid green;
}

#nameRowEdit input[type="text"]:invalid{
border: 2px solid red;
}



#surnameRowEdit input[type="text"]:valid {
border: 2px solid green;
}

#surnameRowEdit input[type="text"]:invalid {
border: 2px solid red;
}


#mailRowEdit input[type="email"]:valid {
border: 2px solid green;
}

#mailRowEdit input[type="email"]:invalid {
border: 2px solid red;
}


#numberRowEdit input[type="tel"]:valid {
border: 2px solid green;
}

#numberRowEdit input[type="tel"]:invalid {
border: 2px solid red;
}







