@font-face {
    font-family: "Stratos LC";
    src: url(../fonts/stratos-lcweb-regular.woff2) format("woff2"),
    url(../fonts/stratos-lcweb-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback
}

body {
    font-family: "Stratos LC", -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    margin: 0;
    background: #f5f5f5;
}

.header-wrapper1 {
    background: #ffffff;
}

.logo, .links a {
    line-height: 0;
    display: flex;
}

.header-wrapper2 {
    border-bottom: 1px solid #e6e6e6;
}

/*Логотип и кнопки*/
.header1 {
    width: 1500px;
    margin: auto;
    display: flex;
    padding: 8px;

    justify-content: space-between;
}

.header2 {
    width: 1500px;
    margin: auto;
    justify-content: center;
}

/*Второй ряд кнопок*/
.navig2 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 35%;
    display: flex;
    justify-content: space-between;
}


.links {
    display: flex;
    gap: 1px;
    align-items: center;
}

.links a {
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(45, 45, 180, .5);
    border-radius: 50%;
}

.links svg {
    fill: #2d2db4;
}

/*Кнопки вход и регистрация*/
.navig {

    text-decoration: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.register {
    color: #E33000;
    padding: 5px 20px;
    border: 1px solid #E33000;
    border-radius: 100px;
}

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

a:link {
    color: #E33000;
}

/*Стиль кнопок*/
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

/*Отступ между кнопками*/
.navig li {
    margin-left: 5px;
    margin-right: 5px;
}

.center {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    width: 1500px;
    margin: auto;
}

/*Карусель*/

body h2 {
    font-size: 3.6rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.news {
}

.news-content {
    position: relative;
    height: 700px;
    margin: 0 auto;
    display: block;
}

.news-item {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.news-item img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.news-item-active {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.news-btn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    z-index: 5;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.news-btn.prev {
    left: 16px;
    fill: black;
}


.news-btn.next {
    right: 16px;
    fill: black;
}

.news-btn:hover {
    background-color: #afafaf;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.news-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: 20px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 5;
}

.news-dots .dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 10px;
    border-radius: 50%;
    border: solid #fff;
    display: inline-block;
    -webkit-transition: background-color, -webkit-transform 0.4s;
    transition: background-color, transform 0.4s, -webkit-transform 0.4s;
}

.news-dots .dot-active {
    background-color: #ffffff;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.news-dots .dot:hover {
    background-color: #ffffff;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*Футер--------------------------------------------*/

.footer-wrapper {

    background-color: black;
    padding: 50px 0px;
}

footer {
    width: 1500px;
    margin: auto;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    display: flex;
    color: white;
}

.footer_contact {
    text-align: start;
    font-size: 20px;
    font-weight: normal;
    width: 20%;

}

h5 {
    margin: auto;
    font-weight: normal;
    font-size: 30px;
}

.li-margin li {
    margin-bottom: 5px;
}

#map {
    width: 900px;
    height: 450px;
}

/*Категории*/

.forms h1 {
    font-weight: 400;

    text-align: start;
    font-size: 2.4rem;
}


.check {

    text-align: start;


}

.forms label {
    font-weight: 400;

    font-size: 1.1rem;
}


#check {
    width: 100%;
    border-top: 3px solid rgb(0, 0, 0);


    padding-top: 10px;

}

.forms {
    border-right: 3px solid rgb(0, 0, 0);
    flex: 0.2;


}

.main {
    display: flex;
    gap: 30px;
}

.bodyDiv {
    text-align: start;
    flex: 1;

}

/*Второй див*/

.books {
    display: flex;
}

.one-book {
    display: flex;
}

.book-img {
    height: 150px;
    width: 300px;

}

.book-img img {
    height: 150px;
    width: 300px;
}

.book-info {
    width: 600px;

}

.button-find {
    width: 25px;
    height: 25px;
    background: transparent url(../img/search.svg) no-repeat center/cover;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-animation: none;
}
