{% extends "index.html" %}
{% block content %}
    <main class="main">
        <div class="content-wrapper-color-white">
            <div class="content-wrapper2">
                <div class="content-total">
                    <div class="forms">
                        <form id="form">
                            <ul class="genre-block">
                                <li class="genre" style="font-size: 30px">Жанр</li>
                                {% for category in categories %}
                                    <li class="category-genre">
                                        <label>
                                            <input class="category-genre-chekbox" type="checkbox">{{ category }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </form>
                    </div>
                    <div class="bodyDiv">
                        <form action="" class="input-find-book-name">
                            <p>
                                <input class="input-text-book-name" id="text-cat" placeholder="Название книги"
                                       type="text"/>
                            </p>
                            <p class="button-find-book-name">
                                <input type="submit" value="Поиск" class="button-find-book-name" id="find"/>
                            </p>
                        </form>
                        <br/> <br/>
                        <div class="books-by-category">
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <p id="p1"></p>
                    <p id="p2"></p>
                    <p id="p3"></p>
                </div>
            </div>
        </div>
        </div>
    </main>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/slider2.js"></script>
    <script src="../static/js/books.js"></script>
{% endblock %}