<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=93caf90c-1245-4d7f-9e51-f04e4f881422-ключ&lang=ru_RU"
            type="text/javascript">
    </script>
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">

    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            });
        }
    </script>

</head>
<body>
<div class="header-wrapper1">
    <header class="header1">
        <a href="" class="logo">
            <img src="../static/img/page-logo.svg" alt="Логотип"/>
        </a>
        <ul class="links">
            <li><a href=""> <img src="../static/img/icon-vk.svg" alt="Логотип"/> </a></li>
            <li><a href=""> <img src="../static/img/icon-youtube.svg" alt="Логотип"/> </a></li>
            <li><a href=""> <img src="../static/img/icon-telegram.svg" alt="Логотип"/> </a></li>
        </ul>
        <ul class="navig">
            <li><a href="">Вход</a></li>
            <li class="register"><a href="">Регистрация</a></li>
        </ul>
    </header>
</div>


<div class="header-wrapper2">
    <header class="header2">
        <ul class="navig2">
            <li><a href="">{{ context.mytext }}</a></li>
            <li><a href="">Кнопка</a></li>
            <li><a href="">Кнопка</a></li>
            <li><a href="../static/books.html">Книги</a></li>
            <li><a href="">Журналы</a></li>
            <li><a href="">Газеты</a></li>
        </ul>
    </header>
</div>

<main>
    <div class="content-wrapper-color-gray">
        <div class="content-wrapper1">
            <div class="book-info-current-book">
                <div class="book-img-current-book">
                    <img src="../static/img/book-info.pngn" alt="news">
                </div>

                <div class="book-info-current-book-category-name-author">

                    <div class="book-info-current-book-category">
                        <label>category1</label>
                        <label>category2</label>
                        <label>category3</label>
                    </div>

                    <div class="book-info-current-book-name">
                        <p>Название книги</p>
                    </div>

                    <div class="book-info-current-book-author">
                        <p>Автор</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper-color-white">
        <div class="content-wrapper2">

            <div class="book-info-current-book-characteristics-about">

                <div class="book-info-current-book-characteristics">

                    <p class="book-info-current-book-characteristics-text">Характеристики</p>

                    <table class="table-current-book">
                        <tr>
                            <td class="first-column">ХИздательство</td>
                            <td class="second-column">ИздательствоJS</td>
                        </tr>
                        <tr>
                            <td class="first-column">Год издания</td>
                            <td class="second-column">1999</td>
                        </tr>
                        <tr>
                            <td class="first-column">Возрастные ограничения</td>
                            <td class="second-column">18+</td>
                        </tr>
                        <tr>
                            <td class="first-column">Критерий</td>
                            <td class="second-column">КритерийJS</td>
                        </tr>
                        <tr>
                            <td class="first-column">Критерий</td>
                            <td class="second-column">КритерийJS</td>
                        </tr>
                    </table>

                </div>

                <div class="book-info-current-book-about">
                    <p class="book-info-current-book-about-text">Описание</p>
                    <p class="book-info-current-book-about-long-text">Большое описание описание описание описание
                        описание
                        описание описание описание описание описание описание описание описание</p>
                </div>

            </div>

            <div class="same">
                Похожие
            </div>




            <div id="companies" class="companies">
                <div class="container">
                    <div class="companies-wrapper">
                        <div class="push-buttons"></div>
                        <!--          <button class="glo-slider__prev">
                                      <svg viewBox="0 0 960 960" height="24" width="24">
                                          <use xlink:href="../static/img/sprite.svg#icon-service-arrow-left"></use>
                                      </svg>
                                  </button>
                                  <button class="glo-slider__next">
                                      <svg viewBox="0 0 960 960" height="24" width="24">
                                          <use xlink:href="../static/img/sprite.svg#icon-service-arrow-right"></use>
                                      </svg>
                                  </button>
          -->
                        <div class="companies-hor">

                            <div class="companies-hor-item"><img src="#" alt="1"></div>
                            <div class="companies-hor-item"><img src="#" alt="2"></div>
                            <div class="companies-hor-item"><img src="../static/img/news2.png" alt="3"></div>
                            <div class="companies-hor-item"><img src="images/companies/companies-4.png" alt="4"></div>
                            <div class="companies-hor-item"><img src="images/companies/companies-5.png" alt="5"></div>
                            <div class="companies-hor-item"><img src="images/companies/companies-6.png" alt="6"></div>
                            <div class="companies-hor-item"><img src="images/companies/companies-7.png" alt="7"></div>
                            <div class="companies-hor-item"><img src="images/companies/companies-8.png" alt="8"></div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<div class="footer-wrapper">
    <footer>
        <div class="footer_contact">
            <h5>Кластер "Октава"</h5>
            </br>
            <ul class="li-margin">
                <li>г.Тула, Центральный
                    переулок,18
                </li>
                </br>
                <li>+7(4872)77-02-07</li>
                <li class="gray">info@oktavaklaster.ru</li>
                </br>
                <li>Время работы:</li>
                <li>ежедневно с 12:00 до 21:00</li>
                </br>
                <li>Пункт приёма вторсырья во дворе кластера
                    (рядом с Павильоном):
                </li>
                <li>среда:19:00-20:00</li>
                <li>воскресенье:12:00-13:00</li>
                </br>
                <li>Правило съёмок</li>

            </ul>
        </div>
        <div id="map" class="map"></div>
    </footer>
</div>
</div>
<script src="../static/js/script.js"></script>
<script src="../static/js/slider2.js"></script>
</body>
</html>
