{% extends "index.html" %}
{% block content %}
<main>
    <div class="content-wrapper-color-gray">
        <div class="content-wrapper1">

            <div class="editor-user-info-user-profile">
                <div class="editor-user-img-user-profile">
                    <a href="#"><img src="" alt="photo"></a>
                </div>

                <div class="editor-user-info-user-profile-info-and-password">
                    <div class="editor-user-info-user-profile-info" id="insert">

                        <form id="formEdit" method="post">
                            <table class="editor-table-user-profile">
                                <tr id="nameRowEdit">
                                    <td class="editor-first-column-user-profile">Имя</td>
                                    <td class="editor-second-column-user-profile">
                                        <p>
                                            <input id="nameEditor" name="nameEditor" required="required" type="text"
                                                   placeholder="Имя"/>
                                        </p>
                                    </td>
                                </tr>
                                <tr id="surnameRowEdit">
                                    <td class="editor-first-column-user-profile">Фамилия</td>
                                    <td class="editor-second-column-user-profile">
                                        <p>
                                            <input id="surnameEditor" name="surnameEditor" required="required"
                                                   type="text"
                                                   placeholder="Фамилия"/>
                                        </p>
                                    </td>
                                </tr>
                                <tr id="mailRowEdit">
                                    <td class="editor-first-column-user-profile">Эл. почта</td>
                                    <td class="editor-second-column-user-profile">
                                        <p>
                                            <input id="mailEditor" name="mailEditor" required="required" type="email"
                                                   placeholder="Эл. почта"/>
                                        </p>
                                    </td>
                                </tr>
                                <tr id="numberRowEdit">
                                    <td class="editor-first-column-user-profile">Телефон</td>
                                    <td class="editor-second-column-user-profile">
                                        <p>
                                            <input id="numberEditor" name="numberEditor" type="tel"
                                                   pattern="\+?[0-9]{11}" required placeholder="Телефон"/>
                                        </p>
                                    </td>
                                </tr>
                                <tr id="passwordRowEdit1">
                                    <td class="editor-first-column-user-profile">Пароль</td>
                                    <td class="editor-second-column-user-profile">
                                        <p>
                                            <input id="passwordEditor" name="password" required="required"
                                                   type="password"
                                                   placeholder="Введите пароль"/>
                                        </p>
                                    </td>
                                </tr>
                                <tr id="passwordRowEdit2">
                                    <td class="editor-first-column-user-profile">Повторите пароль</td>
                                    <td class="editor-second-column-user-profile">
                                        <p>
                                            <input id="passwordRepeatEditor" name="passwordRepeat" required="required"
                                                   type="password" placeholder="Повторите пароль"/>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>

                <div class="editor-user-info-user-profile-password">
                    <input type="submit" value="Сохранить изменения" class="confirm-edit" id="passwordToggle"></input>
                </div>


            </div>
        </div>
    </div>
</main>
<script src="../static/js/script.js"></script>
<script src="../static/js/slider2userprofile.js"></script>
<script src="../static/js/editorPasswordSpawner.js"></script>
{% endblock %}