{% extends "index.html" %}
{% block content %}
    <main>
        <div class="content-wrapper-color-gray">
            <div class="content-wrapper1">
                <div class="user-info-user-profile">
                    <div class="user-img-user-profile">
                        <img src="../static/img/book-cap.svg" alt="photo">
                    </div>
                    <div class="user-info-user-profile-name-edit-info">
                        <div class="user-info-user-profile-name">
                            <label class="user-info-user-profile-first-name">Имя</label>
                            <label class="user-info-user-profile-sur-name">Фамилия</label>
                        </div>
                        <div class="user-info-user-profile-edit">
                            <a href="/edit_profile" class="user-info-user-profile-edit-text">Редактировать
                                профиль...</a>
                        </div>
                        <div class="user-info-user-profile-info">
                            <table class="table-user-profile">
                                <tr>
                                    <td class="first-column-user-profile">Эл. почта</td>
                                    <td class="second-column-user-profile">mail</td>
                                </tr>
                                <tr>
                                    <td class="first-column-user-profile">Телефон</td>
                                    <td class="second-column-user-profile">number</td>
                                </tr>
                                <tr>
                                    <td class="first-column-user-profile">Роль</td>
                                    <td class="second-column-user-profile">role</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper-color-white">
            <div class="content-wrapper2">
                <div class="mine-books-text-above">
                    Мои книги
                </div>
                <div id="mine-books" class="mine-books">
                    <div class="container-mine-books">
                        <div class="mine-books-wrapper">
                            <div class="mine-books-push-buttons"></div>
                            <div class="mine-books-horiz">
                                <div class="mine-books-horiz-item">
                                    <ul class="mine-books-all3things">
                                        <li class="mine-books-horiz-item-img-border">
                                            <img src="../static/img/news2.png" alt="1"></li>
                                        <li class="mine-books-horiz-item-name">Название</li>
                                        <li class="mine-books-horiz-item-author">Автор</li>
                                    </ul>
                                </div>
                                <div class="mine-books-horiz-item">
                                    <ul class="mine-books-all3things">
                                        <li class="mine-books-horiz-item-img-border"><img
                                                src="../static/img/example1.jpg2"
                                                alt="2"></li>
                                        <li class="mine-books-horiz-item-name">Название</li>
                                        <li class="mine-books-horiz-item-author">Автор</li>
                                    </ul>
                                </div>
                                <div class="mine-books-horiz-item">
                                    <ul class="mine-books-all3things">
                                        <li class="mine-books-horiz-item-img-border"><img
                                                src="../static/img/example1.jpg2"
                                                alt="2"></li>
                                        <li class="mine-books-horiz-item-name">Название</li>
                                        <li class="mine-books-horiz-item-author">
                                            qwertyuiop[]asdfghjkl;'zxcvbnm,./
                                        </li>
                                    </ul>
                                </div>
                                <div class="mine-books-horiz-item">
                                    <ul class="mine-books-all3things">
                                        <li class="mine-books-horiz-item-img-border"><img
                                                src="../static/img/example1.jpg2"
                                                alt="2"></li>
                                        <li class="mine-books-horiz-item-name">Название</li>
                                        <li class="mine-books-horiz-item-author">Автор</li>
                                    </ul>
                                </div>
                                <div class="mine-books-horiz-item">
                                    <ul class="mine-books-all3things">
                                        <li class="mine-books-horiz-item-img-border"><img
                                                src="../static/img/example1.jpg2"
                                                alt="2"></li>
                                        <li class="mine-books-horiz-item-name">Название</li>
                                        <li class="mine-books-horiz-item-author">Автор</li>
                                    </ul>
                                </div>
                                <div class="mine-books-horiz-item">
                                    <ul class="mine-books-all3things">
                                        <li class="mine-books-horiz-item-img-border"><img
                                                src="../static/img/example1.jpg2"
                                                alt="2"></li>
                                        <li class="mine-books-horiz-item-name">Название</li>
                                        <li class="mine-books-horiz-item-author">Автор</li>
                                    </ul>
                                </div>
                                <div class="mine-books-horiz-item">
                                    <ul class="mine-books-all3things">
                                        <li class="mine-books-horiz-item-img-border"><img
                                                src="../static/img/example1.jpg2"
                                                alt="2"></li>
                                        <li class="mine-books-horiz-item-name">Название</li>
                                        <li class="mine-books-horiz-item-author">Автор</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/slider2userprofile.js"></script>
{% endblock %}